*{
    margin: 0;
    padding: 0;
}

/* imported Font for sticky notes */
@font-face{
    font-family: written;
    src:url("../media/fonts/JustAnotherHand-Regular.ttf");
}

@font-face{
    font-family:email-sign;
    src:url("../media/fonts/LaBelleAurore-Regular.ttf");
}

body{
    background-image: url("https://media.istockphoto.com/id/1386705180/photo/abstract-blue-background.jpg?b=1&s=612x612&w=0&k=20&c=wdimBouyd8QHkg5iAeMRCvwq57yuACw0IkjzoF7uXvk=");
    background-size: cover;
}


/* Icons and folders on the destop screen */
#icons{
    display: inline-block;
    margin-right: 50px;
    margin-left: 15px;
    margin-top:25px;
    text-align: center;
    
}

#folders{
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    margin-left: 125px;
    margin-top: 25px;
    position: absolute;
}

#folders2{
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    margin-left: 215px;
    margin-top: 25px;
    position: absolute;
}

#chrome{
    width:60px;
    height:60px;
    padding-left: 5px;
}

.chrome:hover{
    cursor: pointer;
}

.zoom{
    width:60px;
    height:60px;
    padding-left: 5px;
}

#teams{
    width:60px;
    height:60px;
    padding-left: 5px;
}

.bin{
    width:60px;
    height:60px;
    padding-left: 5px;
}

.excel{
    width:80px;
    height:80px;
    padding-left: 5px;
}

#client{
    width:60px;
    height:60px;
}

#work{
    width: 60px;
    height:60px;
}

#personal{
    width:60px;
    height:60px;
}

#folder4{
    width:60px;
    height:60px;
}

#folder5{
    width:60px;
    height:60px;
}

#folder6{
    width:60px;
    height:60px;
}

h5{
    font-size: small;
    color: azure;
    font-family: 'Lucida Sans';
    padding-left: 5px;
    
}

/* Sticky Notes designs and words */
#sticky-note{
    background-color: rgb(111, 190, 123);
    float: right;
    width: 300px;
    height:250px;
    position: absolute;
    top:30px;
    right:85px;
    padding-top:15px;
    padding-left:15px;
    
}

h2{
    text-decoration: underline;
    font-family: written;
    font-size: 30px;
}

#take-break-note{
    text-align:left;
    padding:10px;
    font-family: written;
    font-size: 35px;
}

#note2{
    background-color: rgb(219, 233, 136);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    width: 300px;
    height:250px;
    margin-top: 25px;
    margin-right:80px;
    padding-top: 15px;
    padding-left: 5px;
}
li{
    margin-left:25px;
    font-family: written;
    font-size: 25px;
}

/* Final Icons to appear at the end */

#healthy1{
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    margin-left: 225px;
    margin-top: 350px;
    position: absolute;
}


#mental{
    width:60px;
    height:60px;
}

#healthy2{
    display: inline-block;
    text-align: center;
    margin-left: 450px;
    margin-top:350px;
    position: absolute;
}

#auditory{
    width:60px;
    height:60px;
}

#healthy3{
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    margin-left: 675px;
    margin-top: 350px;
    position: absolute;
}

#physical{
    width:60px;
    height:60px;
}

a{
    text-align: center;
    color: azure;
    font-family: 'Lucida Sans';
    text-decoration: none;

}


/* Details for the opened Client(s) folder */
#open-client{
    width:700px;
    height:700px;
    position:absolute;
    top:65px;
    left:160px;
}

#close-client{
    position: absolute;
    background-color:rgb(255, 255, 255);
    top:0px;
    right:0px;
    width:20px;
    height:19px;
 }

 #exit-folder{
    color:black;
    text-align: center;
    float: right;
 }

 #close-client:hover{
    background-color: red;
 }

#cFolder{
    width: 100%;
}

h6{
    position:absolute;
    top:109px;
    left:110px;
}

#scroll{
    position:absolute;
    top:152px;
    left: 150px;
    overflow: scroll;
    width:550px;
    height:330px;
}

 .innerFile{
    width:20px;
    height:20px;
    position:absolute;
 }

 .names{
    display: inline-block;
    color: black;
    margin-right: 100px;
    margin-left: 20px;
    font-size: 11px;
 }

#c-dates{
    position:absolute;
    top:2px;
    left:230px;
    width:112px;
    height:445px;
    overflow:hidden; 
}

 .date{
    display:inline;
    font-size: 10px;
    color: black;
    margin-top: 5px;
 }

 #c-file{
    position:absolute;
    top:5px;
    left:342px;
    width:105px;
    height:445px;
   
 }

 .type{
    color:black;
    font-size: 11px;
    display: inline;
    position:absolute;
    padding-left: 12px;
 }

 /* details for the opened chrome */

audio{
    display: none;
}

 #chrome-open{
    position: absolute;
    top:3px;
 }

 #chrome-close{
    position: absolute;
    background-color: rgb(63, 195, 129);
    top:1px;
    right:0px;
    width:45px;
    height:33px;
 }

 #chrome-close:hover{
    background-color: red;
 }

 #open-me:hover{
    background-color: brown;
 }

 #exit-email{
    color: black;
    text-align: center;
    align-content: center;
 }

 #gmail{
    width:1530px;
    height: 720px;
 }

 #inbox{
    position:absolute;
    width:100px;
    height:530px;
    top:186px;
    left:450px;
 }

 .sender{
    font-size: 15px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
 }

 #middle-inbox{
    position:absolute;
    top:186px;
    left:650px;
    width:180px;
    
 }

 .subject{
    font-size: 15px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
 }

 #boss-email{
    position: absolute;
    width:1205px;
    height:570px;
    top:140px;
    left:315px;
    padding-top:10px;
    padding-left:10px;
    background-color: white;
 }

 p{ 
    font-size: 20px;
    color:black;
    padding-right: 10px;
    padding-left:10px;
 }

#subject-title{
    color:black;
    font-family:Arial, Helvetica, sans-serif;

}

 #signature{
    font-size: 40px;
    padding-left: 10px;
    font-family: email-sign;

 }

 #teams-open{
    position:absolute;
    top:-20px;
    left:150px;
 }

 #teams-close{
    position: absolute;
    background-color: rgb(90, 65, 174);
    top:40px;
    right:5px;
    width:40px;
    height:25px;
 }

 #teams-close:hover{
    background-color: red;
 }

 #exit-teams{
    text-align: center;
 }

 #teams-chat{
    width:1200px;
    height:850px;
 }